@import "styles/desktop";
@import "styles/mobile";
@import "styles/tablet";
@import url(http://weloveiconfonts.com/api/?family=entypo);

/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style/style.scss

Backtrace:
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `read'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style/style.scss"; }


/*
Theme Name: Memory_blog
Theme URI: https://wordpress.org/themes/Memory/
Author: julien Bonnanfant
Author URI: https://wordpress.org/
Description:  Theme pour le blog de Memory Travel&Event
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
Text Domain: memory

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

$font_family_1: 'Arial';
$font_family_2: 'Oswald';

/* faire une variable HAUTEUR DE NAV
Backgrounnd-size : contain;
remplacer les image par des bg
/* Background position : center center
/* Général css for Header */
body{
  font-family: $font_family_1;

}

/*Social Network*/

[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

a {
  text-decoration: none;
}
a:link{
  text-decoration: none;

}



ul {
  margin: 0;
  padding: 0;
}


#sticky-social {
  left: 0px;
  position: fixed;
  top: 150px;
  z-index: 10;
  border-radius: 10px;
  a {
    background: #333;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px $font_family_1;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
    span {
      line-height: 35px;
      left: -120px;
      position: absolute;
      text-align: center;
      width: 120px;
    }
    &:hover span {
      left: 100%;
    }
    &[class*="entypo-"] {
      background: #1f1f1f;
      &:hover, span {
        background: #1f1f1f;
      }
    }
  }
}


#logo {
  width: 220px;
  margin-top: 10px;
  margin-left: 10px;

}
.memory_navbar{
  background-color: white;

  .callToAction-Memory {
    background-color: #26C6DA !important;
    border-radius: 3px;
    border: 1px solid #26C6DA;
    color: white !important;
    font-weight: bold;

  }
  .callToAction-Memory:hover{
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #26C6DA;
    font-weight: bold;

  }
}

.carousel-header {

  margin-top: 55px;
  img {
  }



  .carousel-content {
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    bottom: 9%;
    left: 5%;
    z-index: 20;
    color: #ffffff;
    border-radius: 3px;
  }
  a{
    color: white;
    text-decoration: none;
    :hover{
      color: white;
    }
    :visited{
     color: white;
    }

  }
}
/*Select button*/


.filter {
  display: flex;

  .select {
    position: relative;
    width: 50%;

    select {
      font-family: $font_family-2;
      width: 100%;
      padding: 10px 1px;
      outline: 0;
      border: none;
      border-radius: 0px;
      background: #1f1f1f;
      color: #ffffff;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-align: center;
      text-align-last: center;
    }
  }

  .select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #7b7b7b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}


/*Board*/


.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a{
    text-decoration: none;
  }
  .card {
    margin: 10px;
    overflow: hidden;

    a{
      text-decoration: none;

    }
    a:hover {
      color: #f8f9fa;
      text-decoration: none;
    }
    .card-theme {
      position: absolute;
      top: 0px;
      right: 0px;
      color: white;
      height: 0;
      border-top: 100px solid rgba(0, 0, 0, 0.78);
      border-left: 100px solid transparent;

      li {
        position: absolute;
        right: 2px;
        bottom: 49px;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -khtml-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        list-style-type: none;
      }




    }
    .post-categories{
      a{
        text-decoration: none;
      }
      :visited{
        color:white;
      }
    }
  }

}


footer {
  background-color: #424242;
  color: white;
  padding: 5px;

  a {
    color: white;
  }


  .partenaires {
    width: 559px;
    margin: auto;
    padding: 10px;
  }

  .carousel-footer {
    img {
      height: 340px;
    }
  }
}

/*
Commentaires des articles
 */

/*

.post-comments{
  margin-top: 30px;
  border-radius: 3px;
  padding: 44px;
  margin-bottom: 30px;
  border-radius: 4px;
}

  #comments{
  font-family: $font_family_1;
  }
  .commentList{
   !* background-color: rgba(0, 0, 0, 0.07);*!
  }
  .comment-respond{
    background-color: rgba(0, 0, 0, 0.17);
    !* margin: -31px; *!
    padding: 44px;
    margin-bottom: 30px;
    border-radius: 4px;
    rest-after: none;
  }
*/

$color_1: #444;
$color_2: #adaeb3;
$color_3: #fff;
$background_color_1: #fff;
$background_color_2: #f5f5f6;
$background_color_3: #f5f5f5;
$background_color_4: #424242;


/* ## Comments
--------------------------------------------- */


.comment-respond {
  color: $color_1;
  padding: 20px 45px 40px 45px;
  border: 1px solid #ccc;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  border-left: 4px solid #444;
  margin: 20px 1px 20px 1px;
  border-left: none !important;
    span {
      color: #fcce0a;
    }

    input {
      padding: 4px;
      margin-bottom: 10px;

      &[type="submit"] {
        background-color: #26C6DA !important;
        border-radius: 3px;
        border: 1px solid #26C6DA;
        color: white !important;
        font-weight: bold;
      }

      &[type="submit"]:hover {
        background-color: #fff !important;
        color: #000 !important;
        border: 1px solid #26C6DA;
        font-weight: bold;
      }
    }



  .comment-form-cookies-consent{
    display: none;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }


  label  {
    display: block;
    margin-right: 12px;
    color: #26C6DA;
  }

}
.entry-pings {
  color: $color_1;
  padding: 20px 45px 40px 45px;
  border: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  border-left: 4px solid #444;
  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .reply {
    display: none;
  }
}
.entry-comments {
  color: $color_1;
  padding: 20px 45px 40px 45px;
  border: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  border-left: 4px solid #444;
  h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .comment-author {
    margin-bottom: 0;
    position: relative;
    img {
      border-radius: 50%;
      border: 5px solid #fff;
      left: -80px;
      top: -5px;
      position: absolute;
      width: 60px;
    }
  }
}
.comment-header {
  color: $color_2;
  font-size: 14px;
  margin-bottom: 20px;
  cite {
    a {
      border: none;
      font-style: normal;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .comment-meta {
    a {
      border: none;
      color: $color_2;
    }
  }
}
li.comment {
  background-color: $background_color_1;
  border-right: none;
  margin-bottom: 20px;

}
.comment-content {
  clear: both;
  overflow: hidden;
}
.comment-list {
  li {
    padding: 20px 30px 20px 50px;
    li {
      background-color: $background_color_2;
      li {
        background-color: $background_color_1;
      }
    }
  }
  .children {
    margin-top: 40px;
    border: 1px solid #ccc;
  }
}
.form-allowed-tags {
  background-color: $background_color_3;
  font-size: 16px;
  padding: 24px;
}
.comment-reply-link {
  cursor: pointer;
  background-color: $background_color_4;
  border-radius: 3px;
  color: $color_3;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 4px 10px 4px;
  text-transform: uppercase;
  width: auto;
  &:hover {
    color: $color_3;
    text-decoration: none;
  }
}
.comment-notes {
  display: none;
}
